.about {
  background-image: url(./img/lightP2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  

  .headerv {
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: #2e3d4e51;
    margin: 15px;
    top: 40px;
    left: 50rem;
    border-radius: 15px;
    border: 2px solid #00f8f8;
    padding: 10px 30px;
    box-shadow: 1px 10px 30px 0 black;
    z-index: 10;

    height: 30px;
    width: 23rem;
    position: absolute;
    right: -90px;

    display: flex;
    align-items: center;
    justify-content: end;

    .line {
      text-decoration: none;
      color: #d9d9d9;
      margin-right: 30px;
      margin-top: 3px;
      transition: all 1s ease-in-out;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        border-bottom: 2px solid #00f8f8;
        bottom: -3px;
        opacity: 0;
        width: 10%;
        left: 0;
        transition: 0.3s ease-in;
      }
      &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #00f8f8;
        bottom: -6px;
        opacity: 0;
        width: 30%;
        right: 0;
        transition: 0.3s ease-in;
      }

      &:hover::before {
        opacity: 1;
        width: 50%;
      }
      &:hover::after {
        opacity: 1;
        width: 80%;
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 7rem;
      color: #d9d9d9;

      .port {
        margin: 15px 0;
        visibility: hidden;
        position: absolute;
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 10px;
        opacity: 0;
        border-left: 2px dashed #00f8f8;
        background: linear-gradient(90deg, #d9d9d951 30%, transparent 70%);
        border-radius: 5px;
        padding: 0 10px 0 5px;
        transition: all 0.4s ease-in-out;
        z-index: 10;

        .plus {
          margin-top: 10px;
          text-align: center;
          font-size: 15px;
        }
      }
      .in-menu {
        visibility: visible;
        opacity: 1;
        height: 70px;
      }
    }

    .logo {
      border: #affffe 1px solid;
      border-radius: 50%;
      background-color: #2e3d4e;
      display: grid;
      place-items: center;
      width: 50px;
      height: 50px;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }
  .skillv {
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: #2e3d4e51;
    margin: 15px;
    top: 8rem;
    left: 52rem;
    border-radius: 15px;
    border: 2px solid #00f8f8;
    padding: 10px 30px;
    width: 340px;
    height: 436px;
    box-shadow: 1px 10px 30px 0 black;
    z-index: 1;

    .titles {
      color: black;
      position: absolute;
      font-size: 20px;
      top: -14px;
      background: #00f8f8;
      padding: 2px 8px;
      border-radius: 10px;
      cursor: pointer;
    }

    .habilidades {
      display: flex;
      position: absolute;
      left: 0rem;
      top: 10rem;

      .medium {
        display: flex;
        flex-direction: column;
        margin: 0 3rem;
        text-align: center;
        position: absolute;
        top: -8rem;
        left: -2rem;

        .leven {
          font-family: "Megrim";
          color: #00f8f8;
          font-size: 35px;
          padding: 5px 30px;
          background-color: #00000061;
          border-radius: 15px;
        }

        .bx {
          font-size: 3rem;
          margin: 10px 0;
        }
      }

      .divide {
        position: absolute;
        left: 210px;
        top: -3rem;
        width: 2px;
        height: 320px;
        background-color: #00f8f8;
      }

      .basic {
        display: flex;
        flex-direction: column;
        margin: 0 3rem;
        text-align: center;
        position: absolute;
        top: 40px;
        left: 11.5rem;

        .leven {
          font-family: "Megrim";
          color: #00f8f8;
          font-size: 35px;
          padding: 5px 30px;
          background-color: #00000061;
          border-radius: 15px;
        }

        .bx {
          font-size: 3rem;
          margin: 10px 0;
        }
      }

      .right {
        position: absolute;
        right: -5rem;
        top: 14rem;
        width: 8rem;
        height: 8rem;
      }
      .left {
        position: absolute;
        bottom: 4rem;
        left: 20rem;
        width: 8rem;
        height: 8rem;
        transform: rotate(160deg);
      }
    }
  }
  .about-me {
    position: absolute;
    backdrop-filter: blur(3px);
    background-color: #2e3d4e51;
    margin: 15px;
    top: 40px;
    left: 13rem;
    width: 30rem;
    height: 34rem;
    border-radius: 15px;
    border: 2px solid #00f8f8;
    padding: 10px 30px;
    box-shadow: 1px 10px 30px 0 black;

    .titles {
      color: black;
      position: absolute;
      font-size: 20px;
      top: -14px;
      background: #00f8f8;
      padding: 2px 8px;
      border-radius: 10px;
      cursor: pointer;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: center;

      .paragraph {
        margin: 40px 20px;
        padding: 10px;
        border-radius: 15px;
        border: #00f8f8 2px solid;
        font-size: 1.4rem;
        color: #00f8f8;
        padding: 5px 30px;
        background-color: #00000061;
        border-radius: 15px;
      }
      .big-logo {
        width: 20rem;
        height: 15rem;
        position: relative;
        left: 5rem;
      }
    }
  }
}
