@import url("https://fonts.googleapis.com/css2?family=Julee&family=Megrim&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-rounded/css/uicons-thin-rounded.css");

// Reset----------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--family-text);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
}

// Variables------------
:root {
  --family-text: "Julee", cursive;
  --family-title: "Megrim", system-ui;

  // Colors--------
  --color-text: #d9d9d9;
  --color-border: #7fb9b8;
  --luz-border: #adf1f0;
  --background-blur: #a4c9ce30;
  --background-color: #d9d9d969;
  --shadow-box: #1b27368d 0px 19px 38px, #00000038 0px 15px 12px;
  --color-line: #1b1b1ba1;
  --text-shadow: 3px 3px 5px #1b1b1b;
  --degrade: linear-gradient(90deg, #319191a1 30%, transparent 70%);
}

// Repite Valore-------------
.titles {
  color: var(--color-text);
  font-weight: 600;
  font-size: 20px;
  text-shadow: var(--text-shadow);
  position: absolute;
  top: 0px;
  left: 15px;
  background: var(--color-border);
  padding: 1px 15px;
  border-radius: 10px;
  box-shadow: var(--shadow-box);
  z-index: 2;
  font-family: "Megrim";
}

// -------------------

.fi,
.bx {
  font-size: 25px;
  color: var(--color-border);
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
.bx {
  font-size: 30px;
}

// -------------------

.box,
.box_skill,
.box_port,
.box_PortGa,
.box_contactM,
.box_name {
  position: relative;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: var(--shadow-box);

  &::before {
    content: "";
    z-index: -2;
    position: absolute;
    width: 200%;
    height: 1100%;
    background: repeating-conic-gradient(
      from 0deg,
      var(--luz-border) 0%,
      var(--luz-border) 20%,
      transparent 20%,
      transparent 80%,
      var(--luz-border) 100%
    );
    animation: animate 3s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &::after {
    content: "";
    position: absolute;
    inset: 5px;
    border-radius: 15px;
    z-index: -1;
  }
}

// -------------------

.menu {
  display: flex;
  justify-content: end;
  align-items: start;

  .line {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    text-shadow: var(--text-shadow);
    margin-right: 30px;
    margin-top: 20px;
    transition: all 1s ease-in-out;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 2px solid var(--color-border);
      bottom: -3px;
      opacity: 0;
      width: 10%;
      left: 0;
      transition: 0.3s ease-in;
    }
    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid var(--color-border);
      bottom: -6px;
      opacity: 0;
      width: 30%;
      right: 0;
      transition: 0.3s ease-in;
    }

    &:hover::before {
      opacity: 1;
      width: 50%;
    }
    &:hover::after {
      opacity: 1;
      width: 80%;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 7rem;
    color: var(--color-text);

    .port {
      margin: 15px 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 10px;
      opacity: 0;
      border-left: 3px dashed var(--color-text);
      background: var(--degrade);
      border-radius: 5px;
      padding: 0 10px 0 5px;
      transition: all 0.4s ease-in-out;

      .plus {
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
      }
    }
    .in-menu {
      visibility: visible;
      opacity: 1;
      height: 70px;
    }
  }

  .logo {
    display: grid;
    place-items: center;
    width: 55px;
    height: 55px;
    margin-left: -20px;

    img {
      width: 35px;
      height: 35px;
      filter: drop-shadow(var(--text-shadow));
    }
  }
}
.icon-menu {
  display: none;
}

// -------------------

.img-logo {
  width: 8rem;
  height: 8rem;
  margin: auto;
  cursor: pointer;
  filter: drop-shadow(var(--text-shadow));

  transition: 0.8s ease-in;
  animation: rotateP 5s ease-in-out infinite;

  @keyframes rotateP {
    0% {
      transform: rotateY(0);
    }
    50% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0);
    }
  }
}

// --------------

.backP {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  left: -3rem;
  top: -9rem;

  .logoC, .logoD {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    z-index: 1;
    left: .8rem;
    animation: none;
  }
  .logoD {
    transform: rotateY(180deg) rotate(45deg);
  }

  .titles {
    margin-top: 25px;
  }
}

// Closed/Open--------------------

.inactive {
  display: none;
}

.active {
  display: block;
}