.principal {
  background-image: url(./img/fondoBosque.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  display: block;

  .box {
    top: 18px;
    left: 12px;
    width: 98.3vw;
    height: 26.3vh;

    .header {
      position: relative;
      margin: -1px;
      border-radius: 15px;
      width: 100%;
      height: 26vh;
      border: 2px solid var(--color-border);
      backdrop-filter: blur(3px);
      background-color: var(--background-blur);
      padding: 20px;
      z-index: 1;
    }
    &::after {
      background: url(./img/fondoBosque.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
  }

  .presentation {
    z-index: 1;
    position: relative;
    top: -10rem;

    .avatar {
      position: absolute;
      top: 4%;
      left: 8%;
      width: 30%;
      border-bottom: 4px solid var(--color-border);
      border-radius: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-bottom: 10px;
        height: 43rem;
        width: 26rem;
        filter: drop-shadow(var(--text-shadow));
        border-bottom: 8px solid var(--color-border);
        border-radius: 20px;
        // animation: colors 1s ease-in-out infinite;
      }
    }

    .name {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 27%;
      top: 7rem;
      text-align: center;

      .myName {
        font-family: var(--family-title);
        font-size: 55px;
        font-weight: 200;
        color: var(--color-text);
      }

      .myVocation {
        color: var(--color-border);
        font-family: var(--family-title);
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 800;
        text-shadow: 3px 3px 0 var(--color-line);
        letter-spacing: 10px;
      }
    }
  }

  .cont-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 9rem;

    .box_skill {
      width: 25vw;
      height: 8vh;
      border-radius: 10px;
      margin: 15px;
      z-index: 0;

      .skillP {
        backdrop-filter: blur(3px);
        background-color: var(--background-blur);
        margin: 15px 1px;
        width: 25vw;
        height: 8vh;
        border-radius: 10px;
        border: 2px solid var(--color-border);
        padding: 15px 30px;
        box-shadow: var(--shadow-box);
        cursor: pointer;
        z-index: 1;

        .habilidades {
          display: flex;
          justify-content: space-evenly;
          padding: 0 20px;
          margin-top: 5px;
          margin-left: 30px;

          .fi,
          .bx {
            transition: 0.8s ease-in;
            animation: vol 2s ease-in infinite;

            @keyframes vol {
              0% {
                transform: scale(0.9) rotate(10deg);
              }
              50% {
                transform: scale(1) rotate(-10deg);
              }
              100% {
                transform: scale(0.9) rotate(10deg);
              }
            }
            &:hover {
              animation: hover 0.5s ease-in forwards;
            }

            @keyframes hover {
              100% {
                transform: translateY(-8px) scale(1.3);
                color: var(--color-text);
              }
            }
          }
        }
      }
      &::after {
        background: url(./img/fondoBosque.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
      }
    }
    .box_port {
      width: 40rem;
      height: 11rem;
      border-radius: 10px;
      margin: 15px;

      .portfolioP {
        backdrop-filter: blur(3px);
        background-color: var(--background-blur);
        width: 40rem;
        height: 11rem;
        border-radius: 10px;
        border: 2px solid var(--color-border);

        padding: 10px 30px;
        box-shadow: var(--shadow-box);
        cursor: pointer;

        .galleries {
          display: flex;
          justify-content: space-evenly;
          margin-top: 5px;

          .cont-img {
            border: 1px inset var(--color-border);
            border-radius: 10px;
            padding: 8px 50px;
            display: flex;
            align-items: center;

            img {
              width: 8rem;
              height: 8rem;
              margin: auto;
              cursor: pointer;
              filter: drop-shadow(var(--text-shadow));

              transition: 0.8s ease-in;
              animation: rotateP 5s ease-in-out infinite;

              @keyframes rotateP {
                0% {
                  transform: rotateY(0);
                }
                50% {
                  transform: rotateY(360deg);
                }
                100% {
                  transform: rotateY(0);
                }
              }
            }
          }
        }
      }
      &::after {
        background: url(./img/fondoBosque.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
      }
    }

    .contactP {
      display: flex;
      justify-content: space-evenly;
      width: 8rem;
      position: absolute;
      bottom: 1.3rem;
      right: 1.5rem;

      .fi {
        font-size: 2.7rem;
      }

      .fi-sr-copy-alt {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        font-size: 30px;
        right: 4.3rem;
        bottom: 15px;
        cursor: pointer;
        opacity: 0;
        width: 30px;
        color: var(--color-border);
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--background-blur);
          border: 2px solid var(--color-border);
          border-radius: 30px;
          right: 4.1rem;
          bottom: 10px;
          width: 16rem;
          height: 45px;
          opacity: 1;
          padding: 5px 10px;
          padding-left: 0;
        }

        .gmail {
          font-size: 18px;
          margin: 0 20px;
        }

        .mensaje {
          font-size: 14px;
          margin-right: 30px;
        }
      }
    }
  }
}
